<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
          {{#if error}}
              <div class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
          {{/if}}

          {{#if success}}
              <div class="alert alert-success" role="alert">
                {{errorMessage}}
              </div>
          {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <span class="field">Airport</span>
        </div>
        <div class="col-lg-3">
            <span class="value">
              {{airport.icaoCode}}
            </span>
            &nbsp;
            <span class="value">
              {{airport.iataCode}}
            </span>
          {{#if airport}}
              <br/>
              <span class="value">{{airport.name}}</span><br/>
              <span class="value">{{airport.description}}</span><br/>
              <span class="value">{{airport.region}} &nbsp; {{airport.country}}</span>
          {{/if}}

        </div>
      {{#if newData}}
        {{#unless searchMode}}
            <div class="col-lg-1">
                <button class="btn btn-xs" {{action "showSearch"}}>Search Airport</button>
            </div>
        {{/unless}}
      {{/if}}
    </div>
  {{#if searchMode}}
      <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-xs pull-right" {{action "hideSearch"}}>
                {{fa-icon "remove"}}
              </button>
              <div class="form-inline" style="margin-bottom: 5px;">
                  <div class="form-group">
                    {{input class="form-control" value=keyword placeholder="ICAO, IATA, Name or Country" key-down="onKeydown"}}
                      &nbsp;
                      <button class="btn btn-sm pull-right" {{action "doSearch"}}>Search</button>
                  </div>
              </div>
            {{pw-table data=data
            headerTemplate="search-airport/header"
            footerTemplate="search-airport/footer"
            masterTemplate="search-airport/row"
            detailTemplate="search-airport/row-detail"
            isZebra=false
            selectAirport=(action "selectAirport")
            }}

              <div>
                {{pw-paging register-as=paging refresh=(action "refresh")}}
              </div>

          </div>
      </div>
  {{/if}}

    <div class="row">
        <div class="col-lg-2">
            <span class="field">Aircraft Type</span>
        </div>
        <div class="col-lg-3">
            <select class="form-control"
                    onchange={{action "selectAircraftType" value="target.value"}} disabled={{not newEntry}}>
                <option value="">-</option>
              {{#each aircraftTypes as |aircraftTypeOption|}}
                {{#if (eq aircraftType aircraftTypeOption) }}
                    <option value={{aircraftTypeOption}} selected>{{aircraftTypeOption}}</option>
                {{else}}
                    <option value={{aircraftTypeOption}}>{{aircraftTypeOption}}</option>
                {{/if}}
              {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <button class="btn btn-success btn-sm" {{action "save"}}>
              {{fa-icon "check"}} &nbsp; Save
            </button>
            <button class="btn btn-danger btn-sm" {{action "cancel"}}>
              {{fa-icon "remove"}} &nbsp; Cancel
            </button>
        </div>
    </div>
</div>