<td>{{index}}.</td>
<td>{{data.type}}</td>
<td>{{data.configValue}}</td>
<td>
    <button class="btn btn-primary btn-xs" {{action "click"  "changeValue" data}}>
        {{fa-icon "pencil"}}
        Edit
    </button>
</td>