<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {{outlet}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pw-panel pw-panel-align-right">
                <button class="btn btn-success btn-xs pull-left" {{action "addVoucher"}}>
                  {{fa-icon "plus"}}&nbsp;
                    Add Voucher
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          {{pw-table data=data
          headerTemplate="main/voucher/header"
          footerTemplate="main/voucher/footer"
          masterTemplate="main/voucher/row"
          detailTemplate="main/voucher/row-detail"
          isZebra=false
          editVoucher=(action "editVoucher")
          deleteVoucher=(action "deleteVoucher")
          }}

          {{pw-paging register-as=paging refresh=(action "refresh")}}
        </div>
    </div>
</div>

