<div class="row">
    <div class="col-lg-2"><span class="field">Aircraft Code</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.code}}</span></div>
    <div class="col-lg-2"><span class="field">Registration Number</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.registrationNumber}}</span></div>
</div>

<div class="row">
    <div class="col-lg-2"><span class="field">Model</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.model}}</span></div>

    <div class="col-lg-2"><span class="field">Aircraft Type</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.aircraftType}}</span></div>
</div>

<div class="row">
    <div class="col-lg-2"><span class="field">Description</span></div>
    <div class="col-lg-5"><span class="value">{{aircraft.description}}</span></div>
</div>

<div class="row">
    <div class="col-lg-2"><span class="field">Operator Code</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.operator.code}}</span></div>

    <div class="col-lg-2"><span class="field">Operator Name</span></div>
    <div class="col-lg-3"><span class="value"> {{aircraft.operator.name}}</span></div>
</div>
<div class="row">
    <div class="col-lg-2"><span class="field">Contact Name</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.operator.contactName}}</span></div>

    <div class="col-lg-2"><span class="field">Contact Phone</span></div>
    <div class="col-lg-3"><span class="value">{{aircraft.operator.contactPhone}}</span></div>
</div>

<div class="row">
    <div class="col-lg-2 col-lg-offset-5"><span class="field">Contact Email</span></div>
    <div class="col-lg-3"><span class="value"> {{aircraft.operator.contactMail}}</span></div>
</div>
