{{pw-page-title title="Aircraft" icon="plane"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="pw-panel pw-panel-align-right">
                <button class="btn btn-success btn-xs pull-left" {{action "addAircraft"}}>
                  {{fa-icon "plus"}}&nbsp;
                    Add
                </button>
                <button class="btn btn-xs" {{action "toggleFilter"}}>
                  {{#if shownFilter }}
                      Hide Filter &nbsp;
                    {{fa-icon "caret-up"}}
                  {{else}}
                      Show Filter &nbsp;
                    {{fa-icon "caret-down"}}
                  {{/if}}
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          {{pw-aircraft-filter
          register-as=filterAircraft
          shown=shownFilter
          applyFilter=(action "applyFilter")
          }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          {{pw-table data=data
          headerTemplate="main/aircraft/header"
          footerTemplate="main/aircraft/footer"
          masterTemplate="main/aircraft/row"
          detailTemplate="main/aircraft/row-detail"
          isZebra=false
          isBordered =true
          editAircraft=(action "editAircraft")
          deleteAircraft=(action "deleteAircraft")

          setupAvailability=(action "setupAvailability")
          setupSpecialPrice=(action "setupSpecialPrice")
          setupAmenities=(action "setupAmenities")
          setupImages=(action "setupImages")
          }}

          {{pw-paging register-as=paging refresh=(action "refresh")}}
        </div>
    </div>
</div>

