<table class="pw-table pw-bordered">
    <thead>
    <tr>
        <th colspan="5">
          Amenities
        </th>
    </tr>
    <tr>
        <th style="width: 10px;"></th>
        <th style="width: 10px;"></th>
        <th style="width: 40px;"></th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#each data.amenities as |amenity index |}}
        <tr>
            <td>{{ add index 1 }}.</td>
            <td>{{amenity.status }}.</td>
            <td>
              {{pw-image default="images/default/amenity.png" source=amenity.logo style="max-width: 64px; float: left; margin-right: 8px;"}}
            </td>
            <td>{{amenity.name}}</td>
            <td>{{amenity.description}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>