<td>{{index}}.</td>
<td>
    <button class="btn btn-xs" {{action "toggleDetail"}}>
      {{#unless detailVisible }}
        {{fa-icon "plus" }}
      {{/unless}}
      {{#if detailVisible }}
        {{fa-icon "minus" }}
      {{/if}}

    </button>
</td>
<td>
  {{#if (eq data.status 'ACTIVE')}}
      <span class="pw-label pw-label-success pw-label-xs">A</span>
  {{else}}
      <span class="pw-label pw-label-danger pw-label-xs">I&nbsp;</span>
  {{/if}}
</td>
<td>{{data.code}}</td>
<td>{{data.aircraftType}}</td>
<td>{{data.model}}</td>
<td>{{data.registrationNumber}}</td>
<td>
  {{data.operator.code}}<br/>
  {{data.operator.name}}
</td>
<td>
  {{data.base.icaoCode}}<br/>
  {{data.base.name}}
</td>
<td>
    <button class="btn btn-warning btn-xs" {{action "click"  "editAircraft" data}}>
      edit
    </button>
    <button class="btn btn-danger btn-xs" {{action "click"  "deleteAircraft" data}}>
      delete
    </button>
</td>