<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {{outlet}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pw-panel pw-panel-align-right">
                <button class="btn btn-success btn-xs pull-left" {{action "addPricing"}}>
                  {{fa-icon "plus"}}&nbsp;
                    Add Pricing
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          {{pw-table data=data
          headerTemplate="main/config-pricing/header"
          footerTemplate="main/config-pricing/footer"
          masterTemplate="main/config-pricing/row"
          detailTemplate="main/config-pricing/row-detail"
          isZebra=false
          editPricing=(action "editPricing")
          deletePricing=(action "deletePricing")
          }}

          {{pw-paging register-as=paging refresh=(action "refresh")}}
        </div>
    </div>
</div>

