<td colspan="2" style="background: #EEE;"></td>
<td colspan="4">
    <table class="pw-table">
        <tbody>
        <tr>
            <td style="width: 180px;">IATA Code :</td>
            <td>{{data.airport.iataCode}}</td>
        </tr>
        <tr>
            <td>Description :</td>
            <td>{{data.airport.description}}</td>
        </tr>
        <tr>
            <td>Municipality :</td>
            <td>{{data.airport.municipality}}</td>
        </tr>
        <tr>
            <td>Region :</td>
            <td>{{data.airport.region}}</td>
        </tr>

        <tr>
            <td>Country :</td>
            <td>{{data.airport.country}}</td>
        </tr>
        </tbody>
    </table>

</td>