<td>{{index}}.</td>
<td>
    <button class="btn btn-xs" {{action "toggleDetail"}}>
      {{#unless detailVisible }}
        {{fa-icon "plus" }}
      {{/unless}}
      {{#if detailVisible }}
        {{fa-icon "minus" }}
      {{/if}}
    </button>
</td>
<td>{{data.airport.icaoCode}}</td>
<td>{{data.airport.name}}</td>
<td>{{format-number data.amount precision=0}}</td>
<td>
    <button class="btn btn-primary btn-xs" {{action "click"  "edit" data}}>
      {{fa-icon "pencil"}}
        Edit
    </button>
</td>