<td>{{index}}.</td>
<td>
    <button class="btn btn-xs" {{action "toggleDetail"}}>
      {{#unless detailVisible }}
        {{fa-icon "plus" }}
      {{/unless}}
      {{#if detailVisible }}
        {{fa-icon "minus" }}
      {{/if}}

    </button>
</td>
<td>

  {{#if (eq data.payment.status "CREATED")}}
      <span class="pw-label pw-label-primary pw-label-xs">C</span>
  {{else}}
    {{#if (eq data.payment.status "WAITING_CONFIRMATION")}}
        <span class="pw-label pw-label-warning pw-label-xs">W</span>
    {{else}}
      {{#if (eq data.payment.status "PAID")}}
          <span class="pw-label pw-label-success pw-label-xs">P</span>
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if (eq data.orderStatus "CREATED")}}
      <span class="pw-label pw-label-primary pw-label-xs">C</span>
  {{else}}
    {{#if (eq data.orderStatus "CANCELED")}}
        <span class="pw-label pw-label-danger pw-label-xs">A</span>
    {{else}}
      {{#if (eq data.orderStatus "PAID")}}
          <span class="pw-label pw-label-success pw-label-xs">P</span>
      {{else}}
        {{#if (eq data.orderStatus "CONFIRMED")}}
            <span class="pw-label pw-label-purple pw-label-xs">O</span>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if (eq data.orderType "CHARTER")}}
      <span class="pw-label pw-label-primary pw-label-xs">C</span>
  {{else}}
    {{#if (eq data.orderType "DEAL")}}
        <span class="pw-label pw-label-danger pw-label-xs">D</span>
    {{else}}
      {{#if (eq data.orderType "SHUTTLE")}}
          <span class="pw-label pw-label-success pw-label-xs">S</span>
      {{/if}}
    {{/if}}
  {{/if}}

</td>
<td>{{data.number}}</td>
<td>
  {{data.customer.username}}<br/>
  {{data.customer.firstName}} &nbsp; {{data.customer.lastName}}
</td>
<td>
    {{#if data.orderDate }}
      {{moment-format data.orderDate 'DD MMM YYYY HH:mm:ss'}}
    {{/if}}
</td>
<td>
  {{#each data.charter.legs as |leg index|}}
      {{moment-format leg.flightDate 'DD MMM YYYY HH:mm:ss'}}<br/>
  {{/each}}
</td>
<td>
  {{data.charter.aircraft.registrationNumber}} <br/>
  {{data.charter.aircraft.aircraftType}}
</td>
<td>
    <button class="btn btn-success btn-xs" {{action "click"  "confirmPayment" data}}>
        confirm
    </button>

    <button class="btn btn-danger btn-xs" {{action "click"  "cancelBooking" data}}>
        cancel
    </button>
</td>